.common-font {
    font-family: 'Open Sans';
}

.add-button {
    width: 80px;
    margin-right: 10px
}

.sort-button {
    width: 80px;
    margin-left: 10px
}

.custom-input{
    /* border: none; */
    /* background-image: url("https://ucffcb14324aebc543b317cefcda.previews.dropboxusercontent.com/p/thumb/ABJNzkq0WbZGSKW7KpqN5yu4JOKrx2zrK8pVu35h0R1kat5vEXEvVvHfF8sXx7kigG6lAXa5HrGwL5cozF9DKmFBdbTbTdgMIKww7K4w19JJmQz5Zglwgjim9VrzOAiaidWRvBGY_QR_YVIbeJelEKxCH7eQtKLNrAEgeJPsi0D3RgWibeutzKLdXyzIMb6erpORiSxIuDk_F2PDRClakcb1QsSKBN8_Gj8FLNSVhJBn0cudO-13V-1NJOtzP3G96NcxZAbe_tUmyp685Wk0bm9vLBf3LNzttSRF68EPtBNKxYBnW4cEhpFSKoC-DkPmfrwv9d51i812HNI2l4CRPPOF5e8tmwv5Vj-QW_0_GiUG9A/p.png?size=178x178&size_mode=1"); */
    /* background-size: contain; */
    margin-right: 50px;
    font-family: 'Open Sans';
    color: #0082D4;
}

.no-padding {
    padding: 0px;
}

.todo-heading {
    font-family: 'Open Sans';
    font-size: 20px;
    color: #8B9DA7;
    margin-top: 3rem;
}

.done-button {
    width: 120px;
}

.done-button-position {
    text-align: center;
    margin-right: 2rem;
}

.danger {
    color: #c22a22;
    margin-top: 5px;
}

::placeholder {
    color: #0082D4;
    opacity: 1;
  }


